[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-restful = "*"
flask-migrate = "*"
flask-script = "*"
psycopg2 = "*"
pytest = "*"
faker = "*"

[requires]
python_version = "3.7"
