[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
faker = "*"
pytest-cov = "*"
pytest-pep8 = "*"
pytest-html = "*"
flake8 = "*"
pytest-ordering = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-restful = "*"
flask-migrate = "*"
flask-script = "*"
psycopg2 = "*"
flask-jwt-extended = "*"
hearthstone = "*"
hearthstone-data = "*"
requests = "*"

[requires]
python_version = "3.7"
